<div class="row">
    <div class="col-sm-12 col-md-6">
      <h1 class="display-4">Hola!!</h1>
      <h2 class="display-3"></h2>
      <p>
        En esta pagina podras agendar una cita de manera segura...
      </p>
      <img class="imagen1"src="../assets/img/calendario.svg" alt="calendario" />
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 class="display-4">Entra ahora y podras agendar una cita para:</h1>
      <ngx-typed-js [strings]="['Con un amigo ', 'Con un familiar ', 'Con psicólogo', 'Con tu maestro']" [backSpeed]="100" [startDelay]="1000" [loop]="true">
        <h1 class="typing display-3"></h1>
      </ngx-typed-js>
    </div>
    <div class="col-sm-4 mx-auto">
      <img class="imagen2"src="../assets/img/calendario.svg" alt="calendario" />
    </div>
  </div>
